<div class="container rounded bg-body-secondary mt-5 mb-5">
    <div class="row">
        <!--COLUMNA IZQDA (foto nombre y rol)-->
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <input type="file" [(ngModel)]="datoscliente()?.cuenta!.imagenAvatarBASE64" accept="image/*" id="selectorImagen" #inputimagen style="visibility: hidden;" (change)="PrevisualizarImagen(inputimagen)"/>
                <div class="d-flex justify-content-end">
                    <button class="text-bg-danger badge p-1" (click)="EliminarImg()" ><i class="fa fa-trash mx-1"></i></button>
                    <button class="text-bg-primary badge p-1" onclick="javascript: document.getElementById('selectorImagen').click()"><i class="fa fa-plus mx-1"></i></button>
                </div>
                <div class="mt-1">
                    <img class="img img-fluid rounded-circle" [src]="imgSrc || '../../../../assets/img/noicon.png'">
                </div>
                <span class="font-weight-bold">{{datoscliente()?.cuenta?.login}}</span>
                <span class="text-black-50">{{datoscliente()?.cuenta?.email}}</span>
                <br/>
                <span class="badge text-bg-dark">Rol favorito</span>
                <img class="img img-fluid" width="60px" [src]="rolJugador?.img">
                <span class="font-weight-bold">{{rolJugador?.nombre}}</span>
            </div>
        </div>
        <!--COLUMNA CENTRAL-->
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Datos de Perfil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="datoscliente()!.nombre" placeholder="nombre" >
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Apellidos</label>
                        <input type="text" class="form-control" [(ngModel)]="datoscliente()!.apellidos" placeholder="apellidos">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Número de Teléfono</label>
                        <input type="text" class="form-control" [(ngModel)]="datoscliente()!.telefono" placeholder="666112233" >
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Correo Electrónico</label>
                        <input type="text" class="form-control" [(ngModel)]="datoscliente()?.cuenta!.email" disabled placeholder="ejemplo@riftresults.com" >
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Nick / Login</label>
                        <input type="text" class="form-control" [(ngModel)]="datoscliente()?.cuenta!.login" placeholder="Nick de cuenta de usuario" >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">País</label>
                        <input type="text" class="form-control" [(ngModel)]="datoscliente()!.pais" placeholder="País" >
                    </div>
                    <div class="col-md-6"><label class="labels">Rol Favorito</label>
                        <select [(ngModel)]="datoscliente()!.datosLol!.rol" class="form-control" id="rol" required>
                            @for (rol of roles; track $index) {
                              <option [value]="rol.nombre" [selected]="rol.nombre == datoscliente()?.datosLol?.rol">{{rol.nombre}}</option>
                            }
                          </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#cambiarPasswordModal" href="" >Cambiar contraseña</a>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <span class="{{colorMsg}}">{{msgUpdate}}</span>
                    <br/>
                    <button class="mt-2 btn btn-primary btn-azuloscuro" type="button" (click)="ModificarPerfil()">Guardar Perfil</button>
                </div>
            </div>
        </div>
        <!--COLUMNA DERECHA-->
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Campeones favoritos</span>
                    <a [routerLink]="['/Inicio/Campeones']" routerLinkActive="router-link-active"><span class="text-bg-dark badge p-1 h6"><i class="fa fa-plus mx-1"></i>Campeón</span></a>
                </div>
                <br>
                <!-- RENDERIZAR AQUI CADA CAMPEON (máx 5)-->
                <div class="col-md-12"><label class="labels">Mock Champion 1</label><input type="text" class="form-control" placeholder="experiencia" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Mock Champion 1</label><input type="text" class="form-control" placeholder="detalles adicionales" value=""></div>
            </div>
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Equipos favoritos</span>
                    <a [routerLink]="['/Inicio/Equipos']" routerLinkActive="router-link-active"><span class="text-bg-dark badge p-1 h6"><i class="fa fa-plus mx-1"></i>Equipo</span></a>
                </div>
                <br>
                <!-- RENDERIZAR AQUI CADA EQUIPO (máx 5)-->
                <div class="col-md-12"><label class="labels">Mock Heretics</label><input type="text" class="form-control" placeholder="experiencia" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Mock Fnatic</label><input type="text" class="form-control" placeholder="detalles adicionales" value=""></div>
            </div>
        </div>
    </div>
<!-- #region MODAL CAMBIAR CONTRASEÑA -->
    <div class="modal fade" id="cambiarPasswordModal" tabindex="-1" aria-labelledby="cambiarPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title w-100 text-center" id="cambiarPasswordModalLabel">Cambiar contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formPassword" class="mt-2" (ngSubmit)="CambiarPassword()">
                    <div class="mb-3">
                      <label for="currentPassword" class="form-label">Contraseña actual</label>
                      <input formControlName="passwordActual" type="password" class="form-control" id="currentPassword" required placeholder="Contraseña actual">
                      @if (formPassword.controls['passwordActual'].errors?.['required'] && formPassword.controls['passwordActual'].touched) {
                        <span class="text-danger">* Contraseña actual obligatoria</span>
                      }
                      <!-- añadir msg si la password actual es incorrecta (al comporbar con BD)-->
                    </div>
                    <div class="mb-3">
                      <label for="newPassword" class="form-label">Nueva contraseña</label>
                      <input formControlName="password" type="password" class="form-control" id="newPassword" required placeholder="Nueva contraseña">
                      @if (formPassword.controls['password'].errors?.['required'] && formPassword.controls['password'].touched) {
                        <span class="text-danger">* Nueva contraseña obligatoria</span>
                      }
                      @if (formPassword.controls['password'].errors?.['minlength'] && formPassword.controls['password'].touched) {
                        <span class="text-danger">* Mínimo 5 caracteres en contraseña</span>
                        <br/>
                      }
                      @if (formPassword.controls['password'].errors?.['pattern'] && formPassword.controls['password'].touched) {
                        <span class="text-danger">* La contraseña debe contener 1 letra MAYS, 1 número y un caracter alfanumerico</span>
                        <br/>
                      }
                      @if (formPassword.controls['password'].errors?.['compareTo'] && formPassword.controls['password'].touched) {
                        <span class="text-danger">* Las contraseñas no coinciden</span>
                      }
                    </div>
                    <div class="mb-3">
                      <label for="confirmNewPassword" class="form-label">Confirma la nueva contraseña</label>
                      <input formControlName="repassword" type="password" class="form-control" id="confirmNewPassword" required placeholder="Confirma la nueva contraseña">
                      @if (formPassword.controls['repassword'].errors?.['required'] && formPassword.controls['repassword'].touched) {
                        <span class="text-danger">* Confirmación de contraseña obligatoria</span>
                      }
                      @if (formPassword.controls['repassword'].errors?.['minlength'] && formPassword.controls['repassword'].touched) {
                        <span class="text-danger">* Mínimo 5 caracteres en contraseña</span>
                        <br/>
                      }
                      @if (formPassword.controls['repassword'].errors?.['pattern'] && formPassword.controls['repassword'].touched) {
                        <span class="text-danger">* La contraseña debe contener 1 letra MAYS, 1 número y un caracter alfanumerico</span>
                        <br/>
                      }
                      @if (formPassword.controls['repassword'].errors?.['compareTo'] && formPassword.controls['repassword'].touched) {
                        <span class="text-danger">* Las contraseñas no coinciden</span>
                      }
                    </div>
                    <div class="mb-3">
                      <span class="{{colorMsg}}">{{msgUpdate}}</span>
                    </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary btn-azuloscuro" [disabled]="formPassword.status!=='VALID'">Guardar cambios</button>
            </div>
              </form>
          </div>
        </div>
    </div>
  </div>
  <!-- #endregion --> 
</div>
