<div class="container mt-5">
  <h1 class="text-secondary text-center mb-4">RiftResults - Dashboard</h1>
  <img class="img-fluid mb-4" src="../../../../assets/img/lol-competitivo.png" alt="Torneo LoL" />

  <!-- Sección de Noticias -->
  <div class="card mb-4">
    <div class="card-header">
      <h2 class="mb-0">Noticias</h2>
    </div>
    <div class="card-body">
      <p>
        NOVEDADES SOBRE LA ÚLTIMA ACTUALIZACIÓN: ¡Descubre las últimas noticias
        sobre League of Legends!
      </p>
    </div>
  </div>

  <!-- Resultados de Partidos del League of Legends -->
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">Resultados de Partidos del League of Legends</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Equipo</th>
              <th>Resultado</th>
              <th>Equipo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fnatic</td>
              <td>2 - 1</td>
              <td>Koi</td>
            </tr>
            <tr>
              <td>Mad Lions</td>
              <td>0 - 2</td>
              <td>Isurus Gaming</td>
            </tr>
            <!-- Agrega más filas según sea necesario para mostrar más resultados -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
