/* You can add global styles to this file, and also import other style files */
.azuloscuro { 
    background-color: rgb(1, 17, 40);
}

body {
    font-size: 14px;
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
    
}

@media (min-width: 900px) {
    body {
        font-size: 18px;
    }
}