<div class="container mt-5 bg-body-secondary p-5 rounded">
    <h1 class="text-center mb-4">Términos de Servicio</h1>
    <p>Los siguientes términos y condiciones rigen el uso del sitio web RiftResults:</p>
    <ol>
        <li><strong>Aceptación de Términos:</strong> Al utilizar RiftResults, usted acepta cumplir estos términos de servicio.</li>
        <li><strong>Uso Adecuado del Sitio:</strong> Los usuarios deben utilizar el sitio web de manera legal y respetuosa.</li>
        <li><strong>Responsabilidades del Usuario:</strong> Los usuarios son responsables de mantener la seguridad de su cuenta y contraseña.</li>
        <li><strong>Derechos de Autor:</strong> Todo el contenido en RiftResults está protegido por derechos de autor y no puede ser utilizado sin permiso.</li>
        <li><strong>Limitación de Responsabilidad:</strong> RiftResults no se hace responsable de cualquier pérdida o daño resultante del uso del sitio web.</li>
    </ol>

    <h1 class="text-center mt-5 mb-4">Política de Privacidad</h1>
    <p>Esta política de privacidad describe cómo RiftResults recopila, utiliza y protege su información personal:</p>
    <p>RiftResults recopila cierta información personal para proporcionar servicios personalizados y mejorar la experiencia del usuario. Esto puede incluir su nombre, dirección de correo electrónico, información de inicio de sesión y datos de uso del sitio web.</p>
    <p>La información personal recopilada por RiftResults no se comparte con terceros sin su consentimiento, excepto cuando sea necesario para proporcionar servicios solicitados por usted o cuando lo exija la ley.</p>
    <p>RiftResults utiliza medidas de seguridad para proteger su información personal contra el acceso no autorizado y el uso indebido. Sin embargo, no podemos garantizar la seguridad absoluta de sus datos en línea.</p>
    <p>Al utilizar RiftResults, usted acepta los términos de esta política de privacidad. Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no dude en ponerse en contacto con nosotros.</p>
</div>
